.container{
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 50vh;
    border: 1px solid white;
    border-radius: 20px;
}
.icons{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.text{
    text-align: center;
    color: wheat;
    font-weight: 700;
    font-size: 2em;
}
.underline{
    width: 20vw;
    height: 1px;
    background-color: white;
    margin-bottom: 5vh;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    margin-left: 5vw;
    margin-top: 5vh;
}
.submit{
    background-color: black;
    width: 10vw;
    height: 5vh;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 2s ease,transform  2s ease, color 2s ease;
}
.submit:hover{
    background-color: white;
    color: black;
    transform: translateY(-10px);
    transition: background-color 2s ease,transform  2s ease, color 2s ease;
}
.credentials{
    width: 30vh;
    height: 3vh;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

}